*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
:root {
    --dark-blue:#243c5a;
    --shining-blue:#03fbe9;
    --text-color:white
}

#foo {
    color: var(--dark-blue);
    color: var(--shining-blue);
    color: var(--text-color);
}

body{
    background-color: var(--dark-blue);
    color: var(--text-color);
    height: 100vh;
    max-height: 100vh;
    width: 100%
}
section{
    margin: 100px 200px 100px 200px; 
}
h1{
    color: var(--shining-blue);
    margin-bottom: 20px;
    font-size: 32px;
}
/* menu */
header{
    /* background-color: #2e4c72; */
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #logo{
    text-decoration: none;
    color: var(--shining-blue);
    display: block;
    text-align: center;
}
header ul,
#contact-links{
    list-style: none;
}
header ul li
{
    display: inline-block;
    position: relative;
    width: 100px;

}
header ul li a{
text-decoration: none;
color: var(--shining-blue);
display: block;
text-align: center;

}
/* footer */
footer{
    margin: 0px 200px 100px 200px; 
    bottom: 0;
}
footer p{
    /* font-size: large; */
}
footer p a{
    text-decoration: none;
    color: var(--text-color);
}
footer p a:hover{
    color: var(--shining-blue);
    text-decoration: underline;
}
footer p a ion-icon{
    margin-left: 15px;
    font-size: 15px;
}
#contact-links li{
    margin-top: 30px;
    display: inline-block;
    width: 50px;
}
#contact-links li a{
    text-decoration: none;
    color: var(--shining-blue);
    display: block;
}